.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact form {
  border: 1px solid var(--text-color);
  border-radius: 10px;

  padding: 2rem;
  width: 500px;
}

.contact form h3 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.contact form input,
textarea {
  display: block;
  padding: 1rem;
  width: 100%;
}

textarea {
  margin-bottom: 2rem;
}

.contact-send {
  padding: 0.5rem 2rem;
  float: right;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease 0.2s;
}

.contact-send:hover {
  transition: all ease 0.2s;
  transform: scale(1.1);
}
